*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
  }

.menu{
    background-color: rgb(56, 56, 56);
    text-align: center;
    box-shadow: 1px 2px 10px rgb(0, 0, 0);
    overflow:hidden;
    position:fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    width: 100%; /* Full width */
}
.menu ul{
    list-style: none;
    display: inline-flex;
}
.menu ul li{
    width: 150px;
    margin: 10px;
    padding: 15px;
    border-radius: 5px;
}
.menu ul li a{
   color: white;
   text-decoration: none;
   font-family:Arial, Helvetica, sans-serif;
}
.menu ul li:hover,.active
{
    background-color:rgb(255, 153, 0);
}
.banner img{
    height: 100vh;
    width: 205.2vh;
    margin-top: 5px;
}

.people img{
  border-radius: 100%;
  box-shadow: 1px 3px 10px rgb(0, 0, 0);
  width: 250px;
  height: 250px;
  margin-left: 30px;
  margin-right: 30px;
  margin-top: 30px;
  margin-bottom: 150px;
}

#people1{
    margin-left: 75px;
    border-radius: 100%;
}

.member_container{
    display: inline-flex;
}

body h1{
 text-align:center;
 margin: 20px;
 margin-top: 50px;
 margin-bottom: 30px;
 font-family: Verdana, Geneva, Tahoma, sans-serif;
 color: #000;
}

.main_content{
    background-color: rgb(39, 39, 39);
    width: 630px;
    border-radius: 5px;
    box-shadow: 1px 2px 10px #000;
    height: 100vh;
    color: white;
    margin-left: 10px;

}
.main_content p{
    width: 600px ;
    text-align:justify;
    margin: 10px;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.main_content h2{
    margin: 20px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.article img{
   width: 100vh;
   height: 32vh;
   margin-left: 50px;
   margin-bottom: 10px;
   color: white;
}

.section2{
    display: inline-flex;
}

.container{
    display: inline-flex;
}

.Box{
    width: 300px;
    text-align: justify;
    background-color: rgb(255, 255, 255);
    border-radius: 20px;
    height: 400px;
    overflow: hidden;
    box-shadow: 5px 5px 10px rgb(0, 0, 0);
    margin-right: 15px;
    margin-left: 20px;
    margin-top: 15px;
    margin-top: 70px;
    padding: 20px;
}
.Box p{
    padding-left: 10px;
    padding-right: 10px;
    color: rgb(59, 59, 59);
}

.Box img{
    width: 100%;
    height: 120px;
    border-radius: 20px;
}
.Box h4{
    text-align:center;
    margin: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.mybutton{
    display: block;
    margin: 15px;
    background-color:rgb(255, 217, 0);
    border-radius: 10px;
    color: rgb(0, 0, 0);
    padding: 10px 20px;
    text-decoration: none;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    box-shadow: 2px 2px 10px gray;
    

}

.mybutton:hover{
    background-color: rgb(255, 153, 0);
}

.footer{
    background-color: rgb(56, 56, 56);
    width: 100%;
    height: 80px;
    box-shadow: -5px 2px 10px #000;
    margin-top: 40px;
}
.footer p{
    color: rgb(255, 253, 253);
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: center;
    margin: 10px;
}

.footer a{
    color:  rgb(255, 255, 255);
    text-decoration: none;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: center;
    background-color: rgb(56, 56, 56) ;
    margin-bottom: 10px;
}

.footer a:hover{
    color:  rgb(255, 153, 0);
}

