@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(250, 233, 176);
  font-family: 'Open Sans';
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container {
  background-color: rgb(255, 255, 255);
  width: 400px;
  border-radius: 5px;
  overflow: hidden;
  box-shadow: 10px 10px 20px rgba(138, 67, 0, 0.671);
  backdrop-filter: blur(10px);
  border-radius: 10px;
}
.header {
  background-color:rgb(255, 123, 0);
}
.header h2 {
  padding: 20px;
  text-align: center;
  color: #fff;
  
}
.form {
  padding: 20px 30px;
}
.form-control {
  margin-bottom: 10px;
  padding-bottom: 20px;
  position: relative;
}
.form-control label {
  display: block;
  margin-bottom: 5px;

}
.form-control input {
  display: block;
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  outline: none;
  border: 2px solid #f0f0f0;
}
.form-control i {
  position: absolute;
  right: 10px;
  top: 40px;
  visibility: hidden;
}
.form-control small {
  position: absolute;
  left: 0;
  margin-top: 5px;
  visibility: hidden;
}
.form button {
  display: block;
  width: 100%;
  background-color: rgb(255, 123, 0);
  box-shadow: 1px 1px 15px rgb(71, 71, 71);
  color: white;
  padding: 10px;
  outline: none;
  border: none;
  border-radius: 5px;
  text-align: center;
}
.form-control.success input {
  border-color: rgb(48, 207, 48);
}
.form-control.success .fa-check-circle {
  visibility: visible;
  color: rgb(48, 207, 48);
}
.form-control.error input {
  border-color: red;
}
.form-control.error .fa-exclamation-circle {
  color: red;
  visibility: visible;
}
.form-control.error small {
  visibility: visible;
  color: red;
}
